/* Styling for application */

/* General styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 248, 240);
  color: rgb(51, 51, 51)
}

a {
  text-decoration: none;
}

/* Styling of all button tags */
button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: progress;
}

/* Styling of button tags with text and button-looking a tags */
.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button.text, a.button {
  border: 2px solid rgb(111, 136, 111);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(111, 136, 111);
  width: max-content;
  min-width: 100px;
  color:rgb(250, 248, 240);
  font-size: 1rem;
  text-align: center;
}

button.text.delete {
  border: 2px solid rgb(209, 97, 97);
  background-color: rgb(209, 97, 97);
}

a.button:link, a.button:visited {
  color:rgb(250, 248, 240)
}

button.text:hover, button.text:active, button.text[disabled], a.button:hover, a.button:active {
  background-color: rgb(250, 248, 240);
  color: rgb(111, 136, 111);
}

button.text.delete:hover, button.text.delete:active, button.text.delete[disabled] {
  background-color: rgb(250, 248, 240);
  color: rgb(209, 97, 97);
}

.navbar button.text {
  padding: 7px;
  font-size: 0.9rem;
  margin: auto 10px;
  min-width: max-content;
}

/* Styling of button tags with images */
button.img {
  border: none;
}

button.img:hover, button.img:active, button.img[disabled] {
  opacity: 0.7;
}

/* Styling of navbar */
.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid rgb(111, 136, 111);
  background-color: rgb(250, 248, 240);
  z-index: 20;
}

.navbar div {
  height: 100%;
  display: flex;
}

.navbar div:last-child {
  justify-content: flex-end;
  width: 100%;
}

.navbar div a, .navbar div p {
  margin: auto 10px;
}

.navbar div a {
  font-size: 1.1rem;
}

.navbar div:first-child a {
  font-size: 1.2rem;
}

.navbar a:link, .navbar a:visited {
  color: rgb(111, 136, 111);
  font-weight: bold;
}

.navbar a:hover, .navbar a:active {
  opacity: 0.7;
}

.navbar .link {
  opacity: 1.0;
}

.navbar .link-active {
  opacity: 0.7;
}

.navbar div:nth-child(3) a {
  height: 70%;
}

.navbar div:nth-child(3) img {
  height: 100%;
  border-radius: 50%;
}

.navbar div:nth-child(3) p {
  font-size: 1.1rem;
  max-width: 200px;
  text-align: end;
  overflow: auto;
}

.content h2 {
  color: rgb(111, 136, 111);
}

/* Styling of footer */
.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(111, 136, 111);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer a:link, .footer a:visited {
  color: rgb(36, 63, 36);
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

/* Styling of flash-messages */
.flash {
  display: flex;
  padding: 5px;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.flash div {
  white-space: nowrap;
  overflow: auto;
}

.flash.success {
  background-color: rgb(181, 196, 181);
  color: rgb(36, 63, 36);
}

.flash.error {
  background-color: rgb(219, 136, 136);
  color: rgb(90, 24, 24);
}

.flash button {
  width: 13px;
  height: 13px;
}

.flash.success button {
  background: no-repeat center/80% url("/public/images/cross-dark-green.png");
}

.flash.error button {
  background: no-repeat center/80% url("/public/images/cross-dark-red.png");
}

/* Styling of Cookie Settings*/
.cookie-settings {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 500px;
  background-color: rgb(245, 242, 229);
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.cookie-settings h3 {
  color: rgb(111, 136, 111);
}

/* Styling of home page for anonymous users */
.home-anonymous {
  height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-anonymous p {
  font-size: 1.5rem;
}

.home-anonymous img {
  height: 40vh;
  min-height: 150px;
}

/* Styling for registration and login page */
.auth {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth form {
  background-color: rgb(181, 196, 181);
  padding: 20px;
  width: max-content;
  height: max-content;
  margin: 10px;
  border-radius: 5px;
}

.auth label {
  display: block;
  margin-top: 5px;
}

.auth input:not([type="checkbox"]) {
  width: 250px;
  padding: 3px;
  font-size: 0.9rem;
}

.auth a {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  margin: 5px;
}

.auth a:link, .auth a:visited {
  color: rgb(51, 51, 51)
}

.auth a:hover, .auth a:active {
  text-decoration: underline;
}

/* Styling of content for authenticated users */
.swaps, .wishlist, .bookshelf, .profile, .not-found {
  min-height: calc(100vh - 100px);
  width: 100vw;
  padding: 20px;
}

/* Styling of swaps page */
.swaps > p {
  max-width: 500px;
}

.swap-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
  position: relative;
}

.swap-item > div {
  height: 300px;
  width: 300px;
  overflow: auto;
  position: relative;
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(245, 242, 229);
}

.swap-book div {
  height: max-content;
  width: max-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.swap-book img {
  height: 150px;
}

.swap-book div p {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background-color: rgba(250, 248, 240, 0.541);
  padding: 5px;
  width: 100%;
  margin: 0;
}

.swap-item h3, .swap-item h4, .swap-item p {
  margin: 5px;
}

.swapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.swapper img {
  width: 50px;
  border-radius: 50%;
}

.swap-book button {
  width: 30px;
  height: 30px;
  background: no-repeat center/80% url("/public/images/info-green.png");
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.swaps-content {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swaps-content > p {
  display: block;
  width: max-content;
  font-weight: bold;
  color: rgb(111, 136, 111);
}

/* Styling of info boxes for books and swapper */
.book-info, .swapper-info {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(250, 248, 240, 0.685);
}

.book-info > div, .swapper-info > div {
  width: max-content;
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  text-align: center;
  background-color: rgba(250, 248, 240);
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  overflow: auto;
  max-height: calc(100vh - 40px);
  transform: translateY(-50%);
}

.book-info button, .swapper-info button {
  width: 20px;
  height: 20px;
  background: no-repeat center/80% url("/public/images/cross-green.png");
}

.swapper-info a:link,  .swapper-info a:visited {
  color: rgb(111, 136, 111);
}

.swapper-info a:hover,  .swapper-info a:active {
  text-decoration: underline;
}

.book-info img {
  height: 150px;
}

.swapper-info img {
  width: 100px;
  border-radius: 50%;
}

/* Styling of Wishlist component */
.wishlist > p {
  max-width: 500px;
}

.wishlist-content {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-content > p {
  color: rgb(111, 136, 111);
  font-weight: bold;
}

/* Styling of BookList component */

.book-list {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.book-item {
  width: 500px;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.book-item img {
  height: 100%;
}

.book-item > div:nth-child(2) {
  overflow: auto;
  max-height: 100%;
}

.book-item h3, .book-item h4, .book-item p {
  margin: 5px;
}

.book-item div:last-child {
  display: flex;
  flex-wrap: nowrap;
}

.book-item:nth-child(even) {
  background-color: rgb(245, 242, 229);
}

.book-item button {
  width: 30px;
  height: 30px;
}

.book-item button.info {
  background: no-repeat center/80% url("/public/images/info-green.png");
}

.book-item button.loading {
  background: no-repeat center/80% url("/public/images/loading-green.png");
}

.book-item button.delete {
  background: no-repeat center/80% url("/public/images/delete-green.png");
}

/* Styling of SearchTool */
.search-tool {
  max-width: 500px;
  margin: 20px auto;
}

.search-tool form {
  display: flex;
  gap: 10px;
}

.search-tool form input {
  width: 250px;
  padding: 3px;
  font-size: 0.9rem;
}

.search-tool form button {
  width: 30px;
  height: 30px;
}

.search-tool form button.search {
  background: no-repeat center/80% url("/public/images/search-green.png");
}

.search-tool form button.loading {
  background: no-repeat center/80% url("/public/images/loading-green.png");
}

.search-tool form button.close {
  background: no-repeat center/80% url("/public/images/cross-green.png");
}

.search-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  margin: 10px 0;
}

.search-item {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
}

.search-item:nth-child(even) {
  background-color: rgb(245, 242, 229);
}

.search-item img {
  height: 100%;
}

.search-item div:nth-child(2) {
  overflow: auto;
  font-size: 0.9rem;
  max-height: 100%;
}

.search-item div:last-child {
  display: flex;
  flex-wrap: nowrap;
}

.search-item button {
  width: 20px;
  height: 20px;
}

.search-item button.info {
  background: no-repeat center/80% url("/public/images/info-green.png");
}

.search-item button.loading {
  background: no-repeat center/80% url("/public/images/loading-green.png");
}

.search-item button.add {
  background: no-repeat center/80% url("/public/images/plus-green.png");
}

/* Styling of Bookshelf page */
.bookshelf > p {
  max-width: 500px;
}

/* Styling of Profile page */
.profile .show-info {
  width: max-content;
  margin: 0 auto;
  text-align: center;
}

.profile .user-info {
  margin: 20px;
  max-width: 500px;
  word-break: break-all;
}

.profile .user-info img {
  width: 100px;
  border-radius: 50%;
}

.profile .user-info p:first-of-type {
  font-weight: bold;
}

.edit-profile form {
  width: 300px;
  margin: 0 auto;
}

.edit-profile fieldset {
  margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgb(111, 136, 111);
  background-color: rgb(245, 242, 229);
}

.edit-profile legend {
  font-weight: bold;
  color: rgb(111, 136, 111);
}

.edit-profile label {
  margin-top: 5px;
}

.edit-profile input {
  padding: 3px;
  font-size: 0.9rem;
}

.delete-account {
  max-width: 400px;
  min-width: 300px;
  height: max-content;
  margin: auto auto;
  background-color: rgb(245, 242, 229);
  border: 1px solid rgb(111, 136, 111);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Styling of Not Found page */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}