/* Styling for application */

/* General styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 248, 240);
  color: rgb(51, 51, 51)
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* Styling of navbar anonymous */
.navbar-anonymous {
  display: flex;
  height: 50px;
  align-items: center;
  position: sticky;
  border-bottom: 2px solid rgb(111, 136, 111);
}

.navbar-anonymous div {
  width: 50vw;
  display: flex;
}

.navbar-anonymous div:last-child {
  justify-content: flex-end;
}

.navbar-anonymous div a {
  margin: 10px;
}

.navbar-anonymous div:first-child a {
  font-size: 1.2rem;
}

.navbar-anonymous div:last-child a {
  font-size: 1.1rem;
}

.navbar-anonymous a:link, .navbar-anonymous a:visited {
  color: rgb(111, 136, 111);
  font-weight: bold;
}

.navbar-anonymous a:hover, .navbar-anonymous a:active {
  color: rgb(181, 196, 181);
}

/* Styling of footer */
.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(111, 136, 111);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer a:link, .footer a:visited {
  color: rgb(36, 63, 36);
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

/* Styling of home page for anonymous users */

.home-anonymous {
  height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-anonymous p {
  font-size: 1.5rem;
}

.home-anonymous a {
  display: inline-block;
  border: 2px solid rgb(111, 136, 111);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(111, 136, 111);
  margin: 5px;
  width: 100px;
  text-align: center;
}

.home-anonymous a:link, .home-anonymous a:visited {
  color:rgb(250, 248, 240)
}

.home-anonymous a:hover, .home-anonymous a:active {
  border: 2px solid rgb(111, 136, 111);
  background-color: rgb(250, 248, 240);
  color: rgb(111, 136, 111);
}

.home-anonymous img {
  height: 40vh;
  min-height: 150px;
}

/* Styling for registration and login page */
.auth {
  height: calc(100vh - 100px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.auth form {
  background-color: rgb(181, 196, 181);
  padding: 20px;
  width: max-content;
  margin: 10px auto;
  border-radius: 5px;
  text-align: left;
}

.auth label {
  display: block;
  margin-top: 5px;
}

.auth input:not([type="checkbox"]) {
  width: 250px;
  padding: 3px;
  font-size: 0.9rem;
}

.auth button[type="submit"] {
  display: block;
  border: 2px solid rgb(111, 136, 111);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(111, 136, 111);
  margin: 5px;
  width: 100px;
  margin: 0 auto;
  color:rgb(250, 248, 240);
  font-size: 1rem;
  margin-top: 10px;
}

.auth button[type="submit"]:hover {
  border: 2px solid rgb(111, 136, 111);
  background-color: rgb(250, 248, 240);
  color: rgb(111, 136, 111);
}

.auth a {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  margin: 5px;
}

.auth a:link, .auth a:visited {
  color: rgb(51, 51, 51)
}

.auth a:hover, .auth a:active {
  text-decoration: underline;
}

/* Styling of flash-messages */

.flash {
  color: rgb(255, 255, 255);
  max-width: 500px;
  width: 200px;
  padding: 15px;
  padding-top: 20px;
  text-align: left;
  font-size: 0.9rem;
  position: absolute;
  top: 60px;
  right: 10px;
  border-radius: 5px;
}

.flash.error {
  background-color: rgb(199, 116, 116);
}

.flash.success {
  background-color: rgb(181, 196, 181);
}

.flash button[type="button"] {
  width: 15px;
  height: 15px;
  background: no-repeat center/80% url("/public/images/cross-grey.png");
  background-color: rgba(255, 255, 255, 0.774);
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  border-radius: 3px;
}