/* Styling for application */

/* General styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 248, 240);
  color: rgb(51, 51, 51)
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* Styling of footer */
.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(111, 136, 111);
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a:link, .footer a:visited {
  color:rgb(250, 248, 240)
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

/* Styling of home page for anonymous users */

.home-anonymous {
  height: calc(100vh - 50px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-anonymous p {
  font-size: 1.5rem;
}

.home-anonymous a {
  display: inline-block;
  border: 2px solid rgb(111, 136, 111);
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(111, 136, 111);
  margin: 5px;
  width: 100px;
  text-align: center;
}

.home-anonymous a:link, .home-anonymous a:visited {
  color:rgb(250, 248, 240)
}

.home-anonymous a:hover, .home-anonymous a:active {
  border: 2px solid rgb(111, 136, 111);
  background-color: rgb(250, 248, 240);
  color: rgb(111, 136, 111);
}

.home-anonymous img {
  height: 40%;
  min-height: 150px;
}

/* Styling for registration page */
.register {
  height: calc(100vh - 50px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.register form {
  background-color: rgb(181, 196, 181);
  padding: 30px;
  width: max-content;
  margin: 10px auto;
  border-radius: 15px;
  text-align: left;
}

.register label {
  display: block;
  margin-top: 5px;
}

.register input {
  width: 250px;
  padding: 3px;
  font-size: 0.9rem;
}

.register div.info {
  position: relative;
  width: 250px;
  font-size: 0.8rem;
}

.register button {
  display: block;
  border: 2px solid rgb(111, 136, 111);
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(111, 136, 111);
  margin: 5px;
  width: 100px;
  margin: 0 auto;
  color:rgb(250, 248, 240);
  font-size: 1rem;
  margin-top: 10px;
}

.register button:hover {
  border: 2px solid rgb(111, 136, 111);
  background-color: rgb(250, 248, 240);
  color: rgb(111, 136, 111);
}

.register a {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  margin: 5px;
}

.register a:link, .register a:visited {
  color: rgb(51, 51, 51)
}

.register a:hover, .register a:active {
  text-decoration: underline;
}


